body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a; /* цвет текста*/
}

.conteiner {
  max-width: 1146px; /*максимальная ширина */
  margin: auto; /* автоматическое выравнивание по середине */
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex; /*делаем гибкий блок */
  align-items: center; /* автоматическое выравнивание по середине */
  justify-content: space-between; /* разброс элементов по краю */
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto; /* автоматический отступ справа */
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px; /* внутренний отступ слева */
  padding-right: 22px; /* внутренний отступ справа */
  display: flex;
}

/* применяется ко всем пунктам меню, кроме последнего элемента */
.menu-item:not(:last-child) {
  margin-right: 14px; /* отступ справа */
}

.menu-link {
  text-decoration: none;
  color: inherit; /* возьми текст как у родителя (body) */
}

.button {
  display: inline-block;
  padding: 10px 15px; /* сверху и снизу 10px по краям 15px */
  cursor: pointer;
}
.button-link {
  color: inherit;
}

.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: #fff;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /* растягивается на все свободное пространство*/
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}

.search-button {
  background: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}

.search-button-text {
  margin-left: 5px;
}

/* Контент */
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.card {
  margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.card-link {
  text-decoration: none;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
/*=============== сайдбар =================== */
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
  display: inline-block;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 5px;
}
